
<div class="modal is-active" data-role="modal">
  <div class="modal-background" aria-label='close'></div>
  <div class="modal-card">
    <header class="modal-card-head is-primary">
      <p class="modal-card-title is-primary">Espace famille</p>
      <button class="delete" aria-label="close"></button>
    </header>
    <section class="modal-card-body">

        <label class="label">Modifier la photo</label>
        <div class="box">
            <div class="field">
                <input type="file" class="input"/>
            </div>
            <div class="field">
                <button class="button is-danger is-small is-pulled-right">Supprimer la photo</button>
            </div>
        </div>
        <label class="label">Nouveaux messages de condoléances</label>
        {% if condoleances is empty %}
        Aucun nouveau message de condoléances en attente.
        {% else %}
            {% for condoleance in condoleances %}
                <div class="box">
                    <p class="message">
                        De <b>{{ condoleance.auteur }}</b> :
                        <span class="is-pulled-right">
                            <button class="button is-small is-danger" data-cbutton="delete" data-cid="{{condoleance.id}}"><i class="far fa-trash-alt"></i></button> 
                            <button class="button is-small is-success" data-cbutton="accept" data-cid="{{condoleance.id}}"><i class="fas fa-check"></i></button> 
                        </span>
                    </p>
                    <p>{{ condoleance.message }}</p>
                </div>
            {% endfor %}
        {% endif %}

    </section>
    <footer class="modal-card-foot">
      <button class="button" aria-label="close">Annuler</button>
      <button class="button is-success">Sauvegarder</button>
    </footer>
  </div>
</div>