{% extends 'admin/admin_base.html.twig' %}

{% block body %}

<p class="title">Espace administration</p>

<div class="level">
  <div class="level-item">
    <div>
      <p class="heading">Messages non lus</p>
      <p class="title">{{ newContact }}</p>
    </div>
  </div>
</div>

{% endblock %}