    <footer class="footer is-primary">
        <div class="columns">
            <div class="column">
                <b>P.F. Lauremme</b>
                <p>99 rue inconnue,<br/>
                Fictiveville 09000.</p>
            </div>
            <div class="column">
                <b>Contact</b>
                <p><i class="fas fa-phone"></i> 09 99 99 99 99</p>
                <p><i class="fas fa-envelope"></i> contact@pf-lauremme.fr</p>
            </div>
            <div class="column">
                <b>Navigation</b><br/>
                <a href="{{path('home')}}">Accueil</a><br/>
                <a href="{{path('admin')}}">Espace personnel</a>
            </div>
            <div class="column">
                <b>A propos</b><br/>
                <a href="#">Mentions légales</a>
            </div>
        </div>
    </footer>